name: Cucumber Automation CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      run: docker build -t cucumber-tests .

    - name: Run Tests in Docker
      run: docker run --rm cucumber-tests

    - name: Upload Cucumber Reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: cucumber-report
        path: target/cucumber-html-reports
